*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background: #FDF6E3;
  color: #5C6A72;
  overflow: hidden;
}

::selection {
  background: #EFE9D5;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #F4F0D9;
}

::-webkit-scrollbar-thumb {
  background: #D4CCAB;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #939F91;
}
